dialog.epcsdk-modal {
  border: 0.5px solid #dadada;
  border-radius: 10px;
  padding: 0;
  width: 400px;
  max-width: 90%;
  height: 700px;
  background-color: white;
  transition: 200ms linear;
}

dialog.epcsdk-modal::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  transition: 200ms ease-in-out;
}

dialog.epcsdk-modal + .backdrop {
  /* polyfill */
  background-color: rgba(0, 0, 0, 0.5);
  transition: 200ms ease-in-out;
}

dialog.epcsdk-modal iframe {
  height: 100%;
}

.epcsdk-loading {
  position: relative;
}

.epcsdk-loading::before {
  position: absolute;
  top: 5px;
  left: 50%;
  display: block;
  content: '';
  width: 48px;
  height: 48px;
  border: 5px solid #dadada;
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: epcsdk-rotation 1s linear infinite;
}

@keyframes epcsdk-rotation {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}
